<!DOCTYPE html>
<title>Registration Page</title>

{% extends "basic_app/base.html" %}

{% load staticfiles %}

{% block main %}

  <div class="jumbotron">
    {% if registered %}
      <h1>Thank you for registring!</h1>

    {% else %}
      <h1>Register Here!</h1>
      <h3>Fill out the Form:</h3>

      <!-- we are using image so we use enctype -->


      <form  method="POST" enctype="multipart/form-data">

        {{user_form.as_p}}

        {% csrf_token %}

        {{profile_form.as_p}}

        <input type="submit" class="btn btn-primary" value="Register">

      </form>

      {% endif %}

  </div>

{% endblock %}
